@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,100&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.header,
.jumbotron,
.info,
.quote,
.footer{
    padding: 0 250px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style: none;
    display: flex;
    gap: 12px;
}

li{
    
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    flex-shrink: 0;
    padding-top: 10px;
}

.logo{
    font-size: 24px;
    color: #f9fAf8;
    font-weight: 500;
}

.jumbotron{
    background-color: #1f2937;
    flex: 1;
}

.info{
    flex: 1;
}

.quote{
    flex: 1;
}

.footer{
    flex-shrink: 0;
}